div{
    margin: 1vw;
}

.back{
  color: #00113B;
  font-size: calc(10px + 0.5rem);
  float: left;
}

.fit{
  height: calc(10px + 0.5rem);
  vertical-align: middle;
}

table {
    border: 1px #a39485 solid;
    font-size: .9em;
    box-shadow: 0 2px 5px rgba(0,0,0,.25);
    width: 100%;
    height: 50%;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
  }
  
  th {
    text-align: left;
  }
    
  thead {
    font-weight: bold;
    color: #fff;
    background: #00113B;
  }
    
   td, th {
    padding: 1em .5em;
    vertical-align: middle;
    text-align: center;
  }
    
   td {
    border-bottom: 1px solid rgba(0,0,0,.1);
    background: #fff;
  }

  td.available{
    color: green;
  }

  td.unavailable{
    color: red;
  }
  
  a {
    color: #73685d;
  }

  .vertical-center{
    margin-top: 15%;
  }
    
   @media all and (max-width: 768px) {
      
    table, thead, tbody, th, td, tr {
      display: block;
    }
    
    th {
      text-align: right;
    }
    
    table {
      position: relative; 
      padding-bottom: 0;
      border: none;
      box-shadow: 0 0 10px rgba(0,0,0,.2);
    }
    
    thead {
      float: left;
      white-space: nowrap;
    }
    
    tbody {
      overflow-x: auto;
      overflow-y: hidden;
      position: relative;
      white-space: nowrap;
    }
    
    tr {
      display: inline-block;
      vertical-align: top;
    }
    
    th {
      border-bottom: 1px solid #a39485;
    }
    
    td {
      border-bottom: 1px solid #e5e5e5;
      margin-left: 5px;
      margin-right: 5px;
    }
    
    
    }